{% extends "base/base.html" %}

{% block content %}
<div class='container'>
    <div class='row'>
        <main class='col-md-12'>
            <form method="POST" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                <label>ユーザーID</label>
                {{ form.username }}
                {{ form.username.errors }}
                <label>パスワード</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
                <label>パスワード(確認)</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
                <button type="submit">登録</button>
            </form>
        </main>
    </div>
</div>
{% endblock %}