<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>投稿一覧</title>
</head>
<h1>
  投稿一覧
</h1>

<body>
  <ul>
    {% for post in object_list %}
    {% if user.is_authenticated or post.is_public %}
    <li>
      {% if not post.is_public %}[下書き]{% endif %}
      <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% empty %}
    <li>
      投稿がありません。
    </li>
    {% endfor %}
  </ul>
</body>

</html>