{% extends 'base/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block body %}
<div class='container'>
    <div class='row'>
        <main class='col-md-8'>
            <article class='blog-area'>
                <div class='card-mb-3'>
                    {% if object.image %}
                    <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
                    {% endif %}
                    <div class="card-body">
                        {% if not object.is_public %}
                        <h1><span class="badge badge-secondary">下書き</span></h1>
                        {% endif %}
                        <h1 class="card-title">{{ object.title }}</h1>
                        <p class='card-text'><a href="{% url 'blog:category_post' object.category.slug %}"
                                class="btn btn-primary">{{ object.category.name }}</a></p>
                        <p class='card-text'>{% for tag in object.tags.all %} <a
                                href="{% url 'blog:tag_post' tag.slug %}" class="btn btn-primary">{{ tag.name }}</a>
                            {% endfor %}</p>
                        <p class="card-text">{{ object.published_at|date }}</p>
                    </div>
                </div>
                <div class="text-center">
                    <p>{{ object.content|safe }}</p>
                    <hr>
                    <div class="row">
                        {% if object.content_images %}
                        {% for image in object.content_images.all %}
                        <div class='card-mb-3'>
                            <img class="card-img-top" src="{{ image.content_image.url }}"
                                title="{{ image.description }}">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </article>
            <article class="comment-area">
                <a class="btn btn-primary my-3" href="{% url 'blog:comment_form' post.pk %}">コメントを投稿する</a>
                {% include "blog/snippets/comments.html" %}
            </article>
        </main>
        <aside class="col-md-4">
            {% include "blog/snippets/sidebar.html" %}
        </aside>
    </div>
</div>
{% endblock %}