{% extends 'base/base.html' %}
{% block title %}投稿を編集{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
        <main class='col-md-12'>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {{ content_image_formset.as_p }}
                <button type="submit" class="btn btn-primary">一時保存</button>
                <button type="submit" name = "save" class="btn btn-primary">保存</button>
            </form>
        </main>
    </div>
</div>
{% endblock %}